@tailwind base;
@tailwind components;
@tailwind utilities;


.image-bg{
    background-image:linear-gradient(to bottom right, rgba(31.5, 10.5, 10.5, 1), rgba(31.5, 10.5, 10.5, 0.84));
    background-position: center center;
    background-size: contain;

}

.active{
    background-color: brown;
    color: white;
    font-size: 18px;
    text-decoration: underline;
    padding: 9px 18px;
}